.indexMaphomepage {
  position: relative;
  height: 390px !important;
  width: 100vw !important;
  margin: 0 0 30px 0;
  
}

@media (max-width: 860px) {
  .indexMaphomepage {
    position: relative !important;
    margin: 30px 0 30px 0 !important;
    width: 100vw !important;
    
  }

  .SearchBar {
    height: 30px !important;
    padding: 0px 0;
    margin: 20px 10px  -4px 50px !important;
  }
  .input {
  font-size: 0.99em;
  width: 270px;
  padding: 3.4% 4%;
  margin: 0 0 0 40px !important;
  border-radius: 4px;
  box-shadow: 17px solid red;
  color: black;
  font-family: "Times New Roman", Times, serif, "FontAwesome";
  border: 400px;
  background-color: whitesmoke;
}
}
  
.input {
  font-size: 0.99em;
  width: 270px;
  padding: 2.4% 4%;
  border-radius: 4px;
  box-shadow: 17px solid red;
  color: black;
  font-family: "Times New Roman", Times, serif, "FontAwesome";
  border: 400px;
  background-color: whitesmoke;
}
.button {
  margin-right: 15px;
}
.myLocationBtn:hover {
  background-color: white;
  color: white;
}
.myLocationBtn {
  border-radius: 10px;
  display: hidden;
  visibility: hidden !important;
}
.searchHospital {
  border: none;
  width: 200px;
  margin-left: 1rem;
}
.searchHospital:focus {
  outline: none;
}
.myLocationBtn:focus {
  outline: none;
}
