


/*--slider ki css--*/
#wholeSlider {
  margin: 50px 90px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  float: left;
  margin-top: -440px;
}

@media (max-width: 860px) {
  #wholeSlider {
    margin: auto auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
}
/*--slider ki css--*/
/*--form ki css---*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 420px;
  padding: 3% 0 0;
  margin-left: auto;
  margin-right: 100px;
}


.myformheadertext {
  color: black;
}
.login-page .form .login {
  margin-top: -31px;
  margin-bottom: 20px;
  color: red;
}
.loginsignup-page .form .login {
  margin-top: -31px;
  margin-bottom: 20px;
  color: red;
}


.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 450px;
  margin: 0 auto 100px;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 20px;
  text-align: center;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg, #b95ce4, #4f29cd);
  width: 70%;
  border: 0;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 50px;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #a116ef;
  text-decoration: none;
}

#loginkiposition {
  margin-left: 50%;
  margin:auto !important;
}
/*--form ki css---*/
@media (max-width:860px){
  .login-page {
  width: 320px;
  padding: 3% 0 0;
  margin:auto;
  
}
  .loginsignup-page {
  width: 340px;
  padding: 3% 0 0;
  margin: auto;
  
}
  
}