.card {
    background-image: linear-gradient(to right, #C504B6, #4B038E);
    opacity: 0.89;
    border-radius: 30px;
    z-index: 2;
    margin-bottom: 40px;
	position: absolute;
	padding:20px;
	margin:0 130px;
	top: 530px;
	
	
}
.hospital-details{
	display: flex;
	color:white;
	margin-left: 20px;
}
.card-body {
    color: black;
    text-align: center;
	
}
.dropdown-span {
    cursor: pointer;
}
.dropdown-menu {
    height: 400px;
    width:300px;
    overflow: scroll;
}
hr {
    margin: 0.1em auto;
}
.shadow {
	box-shadow: 0 8px 6px -6px black;
	background-color: rgb(248, 244, 244);
	color:black;
	border-radius: 25px;
	font-size: 5px;
	width: 230px;
}
.cardCross{
	cursor: pointer;
}





@media screen and (max-width: 2000px) {
    .card {
      top: 530px;
	  
	  margin:0 140px;
	  width:85vw;
    }
	.shadow {
		box-shadow: 0 8px 6px -6px black;
		background-color: rgb(248, 244, 244);
		color:black;
		border-radius: 25px;
		width: 240px;
	}
	.hospital-title{
		font-size: 20px;
		color:white;
	}
	.cardCross{
		cursor: pointer;
	}  
  }


  @media screen and (max-width: 1800px) {
    .card {
      top: 550px;
	  
	  margin:0 140px;
	  width:85vw;
    }
}
@media screen and (max-width: 1600px) {
    .card {
      top: 600px;
	  
	  margin:0 110px;
	  width:85vw;
    }
}
  @media screen and (max-width: 1490px) {
    .card {
      top: 540px;
	  margin:0 110px;
    }
	.shadow {
		box-shadow: 0 8px 6px -6px black;
		background-color: rgb(248, 244, 244);
		color:black;
		border-radius: 25px;
		width: 240px;
	}
}
@media screen and (max-width: 1240px) {
    .card {
      top: 520px;
	  margin:0 120px;
	  width:76vw;
    }
	.shadow {
		box-shadow: 0 8px 6px -6px black;
		background-color: rgb(248, 244, 244);
		color:black;
		border-radius: 25px;
		width:300px;
	}
}
  @media screen and (max-width: 1120px) {
    .card {
      top: 530px;
	  margin:0 100px;
    }
	.shadow {
		box-shadow: 0 8px 6px -6px black;
		background-color: rgb(248, 244, 244);
		color: black;
		border-radius: 25px;
		width: 280px;
	}
	.hospital-title{
		font-size: 20px;
		color:white;
	}
	.cardCross{
		cursor: pointer;
	}
  }
   @media screen and (max-width: 1075px) {
    .card {
      top: 530px;
	  margin:0 130px;
	  width:74vw;
    }
	.shadow {
		box-shadow: 0 8px 6px -6px black;
		background-color: rgb(248, 244, 244);
		color: black;
		border-radius: 25px;
		width: 250px;
	}
	.hospital-title{
		font-size: 20px;
		color:white;
	}
	.cardCross{
		cursor: pointer;
	}
  }


    @media screen and (max-width: 1020px) {
    .card {
      top: 360px;
	  margin:0 250px;
	  width:50vw;
    }
	.shadow {
		box-shadow: 0 8px 6px -6px black;
		background-color: rgb(248, 244, 244);
		color: black;
		border-radius: 25px;
		width: 290px;
	}
	.hospital-title{
		font-size: 20px;
		color:white;
	}
	.cardCross{
		cursor: pointer;
	}
  }
    @media screen and (max-width: 895px) {
    .card {
      top: 400px;
	  width:60vw;
	  margin: 0 160px;
    }
	.card-body{
		margin:0 -10px;
	}
	.shadow {
		box-shadow: 0 8px 6px -6px black;
		background-color: rgb(248, 244, 244);
		color:black;
		border-radius: 25px;
		width: 300px;
	}
	.hospital-title{
		font-size: 20px;
		color:white;
	}
	.cardCross{
		cursor: pointer;
	}
  }
  @media screen and (max-width: 860px) {
    .card {
      top: 330px;
    }
	.shadow {
		box-shadow: 0 8px 6px -6px black;
		background-color: rgb(248, 244, 244);
		color:black;
		border-radius: 25px;
		width: 290px;
	}
	.hospital-title{
		font-size: 20px;
		color:white;
	}
	.cardCross{
		cursor: pointer;
	}
  }

    @media screen and (max-width: 740px) {
    .card {
      top: 290px;
	  width:490px;
	  margin:0 100px;
    }
	.shadow {
		box-shadow: 0 8px 6px -6px black;
		background-color: rgb(248, 244, 244);
		color:black;
		border-radius: 25px;
		width: 300px;
	}
	.hospital-title{
		font-size: 20px;
		color:white;
	}
	.cardCross{
		cursor: pointer;
	}
  }


     @media screen and (max-width: 615px) {
    .card {
      top: 290px;
	  width:480px;
	  margin:0 60px;
    }
	.shadow {
		box-shadow: 0 8px 6px -6px black;
		background-color: rgb(248, 244, 244);
		color:black;
		border-radius: 25px;
		width: 300px;
	}
	.hospital-title{
		font-size: 20px;
		color:white;
	}
	.cardCross{
		cursor: pointer;
	}
  }

@media screen and (max-width: 550px) {
   
	.shadow {
		box-shadow: 0 8px 6px -6px black;
		background-color: rgb(248, 244, 244);
		color:black;
		border-radius: 25px;
		width: 300px;
	}
	.hospital-title{
		font-size: 20px;
		color:white;
	     font-size: 1.1rem;
	}
	.card {
		top: 290px;
		margin:0 30px;
		width:90vw;
        
        
	}
	.cardCross{
		cursor: pointer;
	}
  }
     @media screen and (max-width: 460px) {
    .card {
      top: 290px;
	  width:410px;
	  margin:0 30px;
    }
	.card-body{
		margin:0 0px;
	}
	.shadow {
		box-shadow: 0 8px 6px -6px black;
		background-color: rgb(248, 244, 244);
		color:black;
		
		width: 240px;
		
	}
	.hospital-title{
		font-size: 20px;
		color:white;
	}
	.cardCross{
		cursor: pointer;
	}
  }


  
     @media screen and (max-width: 400px) {
    .card {
      top: 290px;
	  width:100vw;
	  margin:0 0px;
    }
	.card-body{
		margin:0 0 0 -70px;
		padding:1rem 0;
	}
	.shadow {
		box-shadow: 0 8px 6px -6px black;
		background-color: rgb(248, 244, 244);
		color:black;
		
		width: 300px;
		
	}
	.hospital-title{
		font-size: 20px;
		color:white;
	}
	.cardCross{
		cursor: pointer;
	}
  }

  