


.carddetails{
    background-image: linear-gradient(to right, #C504B6, #4B038E);
    opacity: 0.89;
    border-radius: 15px;
    z-index: 0;
	width:80vw;
    left: 7%;
	position: relative;
	padding:5px;
    margin-top: -200px;
	animation: fadeIn ease-in-out 2s  1  forwards;
    scroll-behavior: smooth ;
    

}

@keyframes fadeIn {
	0%{
		opacity:0;
	}
	100%{
		opacity: 0.8;
	}
}


.card-header{
    color:white;
    font-size: 1.5rem;
    display:flex;
    justify-content: space-between;
}



@media screen and (min-width:1400px){
    .carddetails{
        margin-top: -16rem;
    }
   
}
@media screen and (min-width:1700px){
    .carddetails{
        margin-top: -19rem;
    }
    
}
@media screen and (max-width:1399px){
    .carddetails{
        margin-top: -22rem;
    }
   
    
}
@media screen and (max-width:1060px){
    .carddetails{
        margin-top: -24rem;
    }
}
@media screen and (max-width:480px){
.card-box{
    height:30px;
    font-size: 0.7rem;
}

}
@media screen and (max-width:420px){
.card-box{
    height:30px;
    font-size: 0.7rem;
}

}






.row {
  line-height:45px;
  margin:0 120px;
  text-align:center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.column {
  margin:10px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  
}

.orange-column {
  background-color:white;
  height: 45px;
  
    border-radius:50px;
    min-width:320px;
  max-width:80%;
}




@media screen and (min-width: 800px) {
  .column {
    flex: 1
  }


}



@media screen and (max-width: 480px) {
    .orange-column{
          min-width:255px;
  max-width:100%;
        
    }

}
